{"formats": ["EEEE, d.M.yyyy", "EEE, d.MMM.yyyy", "EEEE, MMMM d, yyyy", "EEE, MMM d, yy", "yyyy-MM-dd", "dd/MM/yyyy", "d LLLL yyyy", "EEE, d LLL yyyy", "MMMM d, y", "EEE, MMM d, y", "G, d MMM, yyyy", "EEEE d MMMM, yyyy", "EEE, d/MMM/yy", "d-M-yyyy", "yy/MM/dd", "MMMM dd, yyyy", "EEE, dd MMM yyyy", "EEEE, MMM dd, y", "yyyyMMdd", "MMM d, yyyy", "d MMMM, yy", "EEEE, dd.MM.yyyy", "EEE d MMM yy", "dd-MM-yyyy", "d/M/yy", "y MMM d", "EEEE, LLLL d, yyyy", "EEE, LLL d, yyyy", "MMMM-d-yyyy", "EEE/MM/dd", "dd MMMM y", "E, d MMM yy", "EEEE, d MMM, Y", "d.MM.yy G", "yyyy/MM/dd G", "EEE, dd LLL yyyy", "MMMM dd, yy", "EEE, MMM dd, yyyy", "d LLL yyyy", "EEEE, dd LLLL yyyy", "dd/MM/yy, EEE", "MMMM d yyyy", "EEE, d MMMM 'in' y", "G yyyy, MMM d", "yyMMdd", "EEEE d LLL y", "EEE, dd-MM-yy GGG", "d MMMM yyyy", "yyyy 'year', MMMM", "MMM d, yyyy, EEEE", "EEEE, MMM d", "dd.MM.yyyy", "d-M-yy, EEEE", "DDD, MMM d, y", "short", "medium", "long", "full"], "locales": ["ro", "en"]}